/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.view:not(.active-view) {
    display: none;
}

.menu {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
}

.menu .menu-item:not(.current-location) {
    color: #007bff;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}
